<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Vilnius temperatura{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}

        Šiuo metu temperat?ra vilniuje yra [{{ temp }}] laipsni?
    {% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>

